    body {
        background-color: #d6d6c2;
    }

    .card-body {
        padding: 0;
    }

    .jumbotron-fluid {
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        border: 2px solid rgb(197, 196, 196);
        border-radius: 8px;

    }
    #submit {
        margin-left: 15px;
        margin-bottom: 15px;
    }

    #trainRow {padding-left: 5px;

    }

    
  